<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      var email;
      var password;

      function setEmail(event) {
        email = event.target.value;
      }

      function setPassword(event) {
        password = event.target.value;
      }

      async function login(event) {
        event.preventDefault();

        console.log(email, password);

        const url = "http://localhost:3000/login";

        try {
          const response = await fetch(url, {
            headers: {
              "content-type": "application/json",
            },
            method: "POST",
            body: JSON.stringify({
              email,
              password,
            }),
          });

          const result = await response.json();

          if (response.status !== 200) {
            document.getElementById("form-error").innerHTML = result?.message;
            return;
          }

          localStorage.setItem("access_token", result.message);

          window.location.href = "http://localhost:3000/dashboard";
        } catch (error) {
          console.error(error);
        }
      }
    </script>
  </head>
  <body>
    <p>Welcome to the 3MTT Program</p>
    <form onsubmit="login(event)" method="post">
      <div style="color: red" id="form-error"></div>
      <div>
        <label for="email">Email</label>
        <input
          onchange="setEmail(event)"
          placeholder="email"
          name="email"
          type="text"
        />
      </div>
      <div>
        <label for="password">Password</label>
        <input
          onchange="setPassword(event)"
          placeholder="password"
          name="password"
          type="password"
        />
      </div>
      <button type="submit">Login with Us</button>
    </form>
  </body>
</html>
