<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Welcome to the 3MTT Program</p>
    <p style="color: red"><%= message %></p>

    

    <form action="/login" method="post">
      <div>
        <label for="email">Email</label>
        <input placeholder="email" name="email" type="text" />
      </div>
      <div>
        <label for="password">Password</label>
        <input placeholder="password" name="password" type="password" />
      </div>
      <button type="submit">Login with Us</button>
    </form>
  </body>
</html>
